<<<<<<< HEAD
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
#main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
#head{
    height: 100px;
    border: 1px solid #CDCDCD;
    background-color: beige;
}
#head-link{
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #CDCDCD;
    background-color: blue;
}
#left{
    width: 150px;
    height: 400px;
    border: 1px solid #CDCDCD;
    float: left;
    background-color: yellow;
}
#content{
    width: 693px;
    height: 400px;
    float: left;
    border: 1px solid #CDCDCD;
    background-color: pink;
}
#right{
    width: 150px;
    height: 400px;
    border: 1px solid #CDCDCD;
    float: right;
    background-color: aquamarine;
}
#footer{
    height: 90px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: darkred;
}
h1{
    text-align: center;
}
=======
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
#main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
#head{
    height: 100px;
    border: 1px solid #CDCDCD;
    background-color: beige;
}
#head-link{
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #CDCDCD;
    background-color: blue;
}
#left{
    width: 150px;
    height: 400px;
    border: 1px solid #CDCDCD;
    float: left;
    background-color: yellow;
}
#content{
    width: 693px;
    height: 400px;
    float: left;
    border: 1px solid #CDCDCD;
    background-color: pink;
}
#right{
    width: 150px;
    height: 400px;
    border: 1px solid #CDCDCD;
    float: right;
    background-color: aquamarine;
}
#footer{
    height: 90px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: darkred;
}
h1{
    text-align: center;
}
>>>>>>> ab125c79545c83c8ed075a1e2f19cfdb2acda4b9
